/.vs
/src/MetadataBuilder/bin
/src/MetadataBuilder/obj
/samples/MvcWeb/obj
/samples/MvcWeb/bin
/samples/MvcWeb/node_modules
/samples/BasicSpMetadata/BasicSpMetadata.csproj.user
/samples/BasicSpMetadata/bin
/samples/BasicSpMetadata/obj
/src/saml2.metadata/obj
/src/saml2.metadata/bin
/src/xsd.flattening/obj
/src/xsd.flattening/bin
/src/Xsd.IncludeImport/obj
/src/Xsd.IncludeImport/bin
/samples/RichSpMetadata/RichSpMetadata.csproj.user
/samples/RichSpMetadata/bin
/samples/RichSpMetadata/obj
/samples/Blazor.Post.ArtifactBinding/obj
/samples/Blazor.Post.ArtifactBinding/bin
/samples/Mvc.Post.ArtifactBinding/obj
/samples/Mvc.Post.ArtifactBinding/bin
/samples/Mvc.Post.PostBinding/obj
/samples/Mvc.Post.PostBinding/bin
/samples/Mvc.Redirect.ArtifactBinding/obj
/samples/Mvc.Redirect.ArtifactBinding/bin
/samples/Mvc.Redirect.PostBinding/obj
/samples/Mvc.Redirect.PostBinding/bin
/samples/RazorPages.Redirect.PostBinding/obj
/samples/RazorPages.Redirect.PostBinding/bin
/src/saml2.authentication/obj
/src/saml2.authentication/bin
/src/saml2.authentication/.AssemblyAttributes
