@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <tr>
        <th>Authentication Method:</th>
        <td>HTTP-POST Binding</td>
    </tr>
    <tr>
        <th>Protocol Binding:</th>
        <td>HTTP-Artifact Binding</td>
    </tr>
    <tr>
        <th>Logout Method:</th>
        <td>HTTP-POST Binding</td>
    </tr>
</table>
