name: Build

on:
  pull_request:
    branches: [ main, dev ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_CONFIG: Release  

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 0
    
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
            '7.0.x'
            '6.0.x'    
    
    - name: Install Dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c $BUILD_CONFIG --no-restore
