name: CI

on:  
  push:
    branches:
    - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_CONFIG: Release

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup dotnet 7.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
     
      - name: Setup dotnet 6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Install Dependencies
        run: dotnet restore

      - name: Clean
        run: dotnet clean ./src/saml2.authentication/saml2.authentication.csproj -c $BUILD_CONFIG  

      - name: Build
        run: dotnet build ./src/saml2.authentication/saml2.authentication.csproj -c $BUILD_CONFIG

      - name: Pack
        run: dotnet pack ./src/saml2.authentication/saml2.authentication.csproj -c $BUILD_CONFIG --no-build --include-source --include-symbols -o ./artifacts
      
      - name: Setup nuget
        uses: NuGet/setup-nuget@v1.0.5
        with:
          nuget-version: latest

      - name: Push to MyGitHub
        env:
           GITHUB_NUGET_URL: https://nuget.pkg.github.com/dina-heidar/index.json
           GITHUB_NUGET_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet nuget push ./artifacts/saml2.authentication.*.nupkg -k $GITHUB_NUGET_API_KEY -s $GITHUB_NUGET_URL --skip-duplicate
          
    
