name: Release

on:
  push:
    tags:
    - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_CONFIG: Release  
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
              6.0.x  
              7.0.x       

      - name: Clean
        run: dotnet clean ./src/saml2.authentication/saml2.authentication.csproj -c $BUILD_CONFIG && dotnet nuget locals all --clear
        
      - name: Install Dependencies
        run: dotnet restore     

      - name: Build
        run: dotnet build ./src/saml2.authentication/saml2.authentication.csproj -c $BUILD_CONFIG

          # Store the version, stripping any v-prefix
      - name: Write release version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

         # Use version in other step
      - name: Read version
        run: |
          echo Version now: ${VERSION}
      
      - name: Pack 
        run: dotnet pack ./src/saml2.authentication/saml2.authentication.csproj -c $BUILD_CONFIG --no-build --include-source --include-symbols -p:Version=$VERSION -o ./artifacts
      
      - name: Setup nuget
        uses: NuGet/setup-nuget@v1
        with:
          nuget-version: latest

      - name: Push to GPR
        env:
           GITHUB_NUGET_URL: https://nuget.pkg.github.com/dina-heidar/index.json
           GITHUB_NUGET_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet nuget push ./artifacts/saml2.authentication.*.nupkg -k $GITHUB_NUGET_API_KEY -s $GITHUB_NUGET_URL --skip-duplicate
          
      - name: Push to NuGet
        env:
         NUGET_URL: https://api.nuget.org/v3/index.json
         NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push ./artifacts/saml2.authentication.*.nupkg -k $NUGET_API_KEY -s $NUGET_URL --skip-duplicate
     
